.container{
  width: 100vw;
  height: 100vh;
  background-color: #adf4cd;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.text-primary{
  color: #1ea282;
}
.btn-primary{
  color: #fff;
  background-color: #1ea282;;
}

.text-secondary{
  color: #7e7e7e;
}
.bg-secondary{
  background-color: #7e7e7e;;
}

.text-label{
  color: #9b9797;
}